.header-container {
	background-image: url('../../img/Illustration.svg');
	background-size: contain;
	background-position: right;
	background-color: #fff;
	background-repeat: no-repeat;
	height: 760px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1300px) {
	header.header-container {
		background-image: none;
		background-color: #ddd;
		display: flex;
		justify-content: center;
	}
}

.form-container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

.form-tittle {
	font-size: 50px;
	font-weight: 600;
	display: block;
	width: 350px;
}

.form {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.src-input {
	padding: 15px;
	font-size: 14px;
	width: 320px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.btn-search {
	font-size: 15px;
	border: none;
	padding: 15px;
	margin-left: 15px;
	background-color: #b9db60;
	border-radius: 4px;
	cursor: pointer;
}

.fas {
	color: #fff;
}

@media (max-width: 1300px) {
	.form-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.recipes-page {
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
	width: 100%;
}

.recipes-tittle {
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.recipes-paragraph {
	width: 490px;
	text-align: center;
	color: #bcbac7;
	margin-bottom: 30px;
}

.services-page {
	height: 700px;
	background-image: url('../../img/bloco_services.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.services-description {
	margin-right: 200px;
	width: 400px;
}

.services-tittle {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 15px;
}

.services-paragraph {
	padding: 15px 0;
	color: #bcbac8;
}

.services-btn {
	border: none;
	border-radius: 5px;
	color: #fff;
	padding: 20px;
	background-color: #b9db60;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
}

@media (max-width: 1100px) {
	.services-page {
		height: 700px;
		background-image: none;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.services-description {
		margin: auto;
		width: 800px;
		text-align: center;
	}

	.services-tittle {
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	.services-paragraph {
		padding: 15px 0;
		color: #999;
	}
}
